[project]
name = "{{ distribution_name }}"
version = "{{ version }}"
description = "{{ project_short_description }}"
authors = [{ name="{{ author_name }}", email="{{ author_email }}"}]
license = { file = "LICENSE" }
packages = [
  { include = "{{ package_name | replace('.', _copier_conf.sep) }}", from = "src" },
]
requires-python = ">={{ python_version }},<4"

dependencies = [
{% if package_type == "cli" %}
  "typer>=0.16.0,<1.0.0",
{% endif %}
]

[tool.uv]
add-bounds = "major"

[dependency-groups]
dev=[
  "pytest>=8.4.1,<9.0.0",
  "ruff>=0.11.12,<0.12.0",
  "pytest-mock>=3.11.0,<4.0.0",
  {% if type_checker == "mypy" %}
  "mypy>=1.11.0,<2.0.0",
  {% endif %}
  "black>=25.1.0,<26.0.0",
  "pre-commit>=4.2.0,<5.0.0",
  "bump-my-version>=1.2.1,<2.0.0",
  "detect-secrets>=1.4.0,<2.0.0",
  {% if generate_docs == "mkdocs" %}
  "mkdocstrings-python>=1.10.0,<2.0.0",
  "mkdocs-material>=9.5.0,<10.0.0",
  "mkdocs-gen-files>=0.5.0,<1.0.0",
  "mkdocs-literate-nav>=0.6.1,<1.0.0",
  {% endif %}
  {% if generate_docs == "pdoc" %}
  "pdoc>=14.6.0,<15.0.0",
  {% endif %}
  {% if lint_dockerfile %}
  "hadolint-bin>=2.12,<3.0.0",
  {% endif %}
  {% if task_runner == "just" %}
  "rust-just~=1.42.4",
  {% endif %}
  {% if use_jupyter_notebooks %}
  "ipykernel>=6.29.0,<7.0.0",
  "nbdime>=4.0.0,<5.0.0",
]

jupyterlab=[
  "jupyterlab>=4.2.2,<5.0.0"
{% endif %}
]
{% if package_type == "cli" %}

[project.scripts]
{{ package_name.split('.')[-1] }} = "{{ package_name }}.cli:app"
{% endif %}

# This may change in the future once the `uv` build backend
# is out of preview
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/{{ package_name | replace('.', _copier_conf.sep) }}"]

[tool.black]
line-length = {{ max_line_length }}
preview = true
enable-unstable-feature = ["string_processing"]

[tool.ruff]
line-length = {{ max_line_length }}
force-exclude = true
fix = true
show-fixes = true

[tool.ruff.lint]
select = [
    "E", # pycodestyle, basic flake8
    "W", # pycodestyle, basic flake8
    "F", # pyflakes, basic flake8
    "N", # pep8-naming, basic flake8
    "A",  # flake8-builtins,
    {% if lint_docstrings %}
    "D", # pydocstyle
    {% endif %}
    {% if testing_framework == "pytest" %}
    "PT", # flake8-pytest-style
    {% endif %}
    {% if use_lint_strict_rules %}
    "T20", # flake8-print
    "ERA", # eradicate
    "B", # flake8-bugbear
    "C90", # maccabe, basic flake8
    {% endif %}
    "I" # isort
]
ignore = [
    {% if lint_docstrings %}
    # Docstring rules
    "D100",   # Ignore missing docstring in public modules
    "D104",   # Ignore missing docstring in public packages
    "D105",   # Ignore missing docstring in magic methods
    {% endif %}
    # Bugbear rules
    "B904"   # Ignore exception-raises-generic
]

{% if lint_docstrings %}
[tool.ruff.lint.pydocstyle]
convention = "google"
{% endif %}

[tool.ruff.lint.per-file-ignores]
{% if package_type == "cli" %}
"src/{{ package_name }}/cli.py" = ["T20"]
{% endif %}
"__init__.py" = ["F401"]
{% if lint_docstrings %}"**/{tests}/*" = ["D1"]{% endif +%}
"**/{docs,notebooks}/*" = ["T20", "S101", "E402"{{ ', "D"' if lint_docstrings else '' }}]

# T20: Forbid the use of print
# S101: Forbid the use of assert
# F401: Ignore imported modules not used in __init__.py files
# E402: Ignore all module level imports should be at the top of the file.
# D: Ignore all docstring errors in autogenerated code

[tool.pytest.ini_options]
pythonpath = "src"
testpaths = ["tests"]
{% if type_checker == "mypy" %}

[tool.mypy]
exclude = ["tests/*"]
follow_imports = "normal"
warn_redundant_casts = true
warn_unused_ignores = true
disallow_any_generics = true
check_untyped_defs = true
no_implicit_reexport = true
{% if type_checker_strictness == "strict" %}
disallow_untyped_defs = true
{% endif %}
{% if "." in package_name %}
mypy_path = "src"
namespace_packages = true
explicit_package_bases = true
{% endif %}
{% endif %}

[tool.bumpversion]
current_version = "{{ version }}"
commit = true
tag = true
tag_name = "{new_version}"
pre_commit_hooks = ["uv sync", "git add uv.lock"]

[[tool.bumpversion.files]]
filename = "pyproject.toml"
search = "version = \"{current_version}\""
replace = "version = \"{new_version}\""

[[tool.bumpversion.files]]
filename = ".copier-answers.yml"
search = "version: {current_version}"
replace = "version: {new_version}"

[[tool.bumpversion.files]]
filename = "src/{{ package_name | replace('.', _copier_conf.sep) }}/__init__.py"
search = "__version__ = \"{current_version}\""
replace = "__version__ = \"{new_version}\""
