image: "python:{{ python_version }}"

stages:
  - .pre
  - test
  - linting

before_script:
  - apt-get update && apt-get install -y make
  - pip install uv=={{ uv_version }}
  - make setup-strict

test:
  stage: test
  script:
    - uv run pytest

pre-commit:
  stage: linting
  script:
    - uv run pre-commit run --all-files
