image: "python:{{ python_version }}"

stages:
  - .pre
  - test
  - linting

before_script:
  {% if task_runner == "make" %}
  - apt-get update && apt-get install -y make
  {% endif %}
  - pip install uv=={{ uv_version }}
  {% if task_runner == "just" %}
  - uv tool install just
  {% endif %}
  - {{ task_runner }} setup

test:
  stage: test
  script:
    - uv run pytest

lint:
  stage: linting
  script:
    - {{ task_runner }} lint
