image: "python:3.12"

stages:
  - .pre
  - test_and_lint

before_script:
  - pip install uv==0.7.13
  - uv sync
  - just setup-strict

test:
  stage: test_and_lint
  script:
    - uv run tox -r

linting:
  stage: test_and_lint
  script:
    - uv run pre-commit run --all-files
