  - repo: local
    hooks:
      - id: ruff-lint
        name: Lint files with ruff
        entry: uv run ruff check{% if not enable_docstring_linting %} --extend-ignore D{% endif +%}
        language: system
        require_serial: true
        types_or: [python, pyi, jupyter]
