
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        args: ["."]
        language: system
        pass_filenames: false
